body > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

content {
	justify-content: space-evenly;
}

.ilustration {
	width: 30%;
}

.ilustration img {
	width: 100%;
}

.conspect {
	width: 50%;
}

@media (max-width: 1000px) {
	body > * {
		display: inherit;
		margin: 30px;
		font-size: 30px;
	}
	
	header {
		text-align: center;
	}
	
	.ilustration {
		width: 100%;
	}
	
	.conspect{
		width: 90%;
		margin: auto;
	}
}