@font-face {
 font-family: "Open Sans";
 src: url("../font/OpenSans-Light.ttf") format("opentype");
}

html {
	height: 100%;
}

body {
	height: calc(100% - 30px);
	font-family: "Open Sans";
}

header {
	border-bottom: solid 1px #a9a1a1;
    height: 80px;
}

body > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
	font-size: 20px;
}

content {
	justify-content: space-evenly;
	height: calc(100% - 202px);;
    align-items: flex-start;
}

.ilustration {
	width: 30%;
    height: 100%;
    background-color: #eeeeee;
    border-radius: 10px;
}

.ilustration img {
	width: 100%;
}

.conspect {
	width: 55%;
	height: 100%;
	overflow: auto;
}

footer {
	height: 40px;
    border-top: solid 1px #ccc;
    justify-content: space-between;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #1C2B8A;
}

li {
    margin-top: 15px;
    border: solid 1px;
    padding: 10px;
    box-shadow: 1px 1px 3px -1px #1C2B8A;
}

.logo {
	height: 100%;
    justify-content: flex-start;
    margin-right: 20px;
}

.logo img {
	height: 100%;
    object-fit: contain;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eeeeee; 
}

::-webkit-scrollbar-thumb {
  background: c3bebe; 
}

@media (max-width: 1000px) {
	body > * {
		display: inherit;
		margin: 30px;
		font-size: 35px;
	}
	
	header, h2	{
		text-align: center;
		height: initial;
	}
	
	content{
		height: initial;
	}
	
	.ilustration {
		width: 100%;
	}
	
	.conspect{
		width: 90%;
		margin: auto;
	}
	
	li {
		margin-top: 30px;
	}
	
	footer {
		text-align: center;
	}
}